<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.science.bamboorattan">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许应用读取外部存储 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="com.anyihao.ayb.permission.ACCESS_POLLING_SERVICE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- JPush Required -->
    <uses-permission android:name="com.anyihao.ayb.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <!-- 允许应用在手机屏幕关闭后后台进程仍然运行 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 允许应用读写系统设置项 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 允许应用震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 允许应用挂载/卸载 外部文件系统 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- amap required -->
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- Optional for location -->
    <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".common.UApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <meta-data
            android:name="com.science.bamboorattan.common.GlideConfig"
            android:value="GlideConfig" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="580498fae0f55a28f400166a" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="24c18d51d216d379ca4d8e30b6334d0f" />
        <!-- Umeng渠道配置 -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <!-- 配置Bugly APP ID -->
        <meta-data
            android:name="BUGLY_APPID"
            android:value="${BUGLY_APP_ID}" />
        <!-- 配置 Bugly APP版本号 -->
        <meta-data
            android:name="BUGLY_APP_VERSION"
            android:value="${BUGLY_APP_Version}" />
        <!-- 配置 Bugly APP渠道号 -->
        <meta-data
            android:name="BUGLY_APP_CHANNEL"
            android:value="${BUGLY_APP_Channel}" />
        <!-- 配置Bugly调试模式（true或者false） -->
        <meta-data
            android:name="BUGLY_ENABLE_DEBUG"
            android:value="${BUGLY_APP_IsDebug}" />
        <!-- 高德地图 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="a1e6340e46898afd4d3bc04142c5a1d5" />
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="94123a05f5e3adb926020174" /> <!-- 值来自开发者平台取得的AppKey -->
        <activity
            android:name=".frame.activity.mo.activity.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop" />

        <receiver android:name=".common.UBroadcastReceiver" />

        <activity android:name=".frame.activity.mo.activity.LoginActivity" />
        <activity android:name=".frame.activity.mo.activity.RegisterActivity" />
        <activity android:name=".frame.activity.mo.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".frame.activity.mo.activity.BambooInfoCollectActivity" />
        <activity android:name=".frame.activity.mo.activity.SelectionActivity" />
        <activity android:name=".frame.activity.mo.activity.OptionActivity" />
        <activity android:name=".frame.activity.mo.activity.RecordActivity" />
        <activity android:name=".frame.activity.mo.activity.DetailActivity" />
    </application>

</manifest>